.component-container, .bin-container {
  height: 100px;
  box-shadow: 0 0 0 1px black;
  border-radius: 5px;
  margin: 2rem 0;
}

.bin-container .bin-header {
  position: absolute;
  margin-top: 0.2rem;
}

.bin-container .sortable-bin {
  height: 100px;
}

.page-canvas {
  margin-top: 1.5rem;
  height: 85vh;
  box-shadow: 0 0 0 1px black;
  border-radius: 5px;
}

.designer-page-template {
  height: 100%;
}

.designer-page-template .row {
  min-height: 200px;
  background: aliceblue;
}

.designer-page-template .col-sm {
  min-height: 100px;
  background: bisque;
}

.designer-element {
  box-shadow: inset 0 0 0 1px blue;
}

.designer-page-template .designer-element>p {
  position: absolute;
}
