header {
  text-align: center;
  padding: 6px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  background-color: antiquewhite;
  font-family: monospace;
}

.component-container, .bin-container {
  height: 100px;
  box-shadow: 0 0 0 1px black;
  border-radius: 5px;
  margin: 2rem 0;
}

.bin-container .bin-header {
  position: absolute;
  margin-top: 0.2rem;
}

.bin-container .sortable-bin {
  height: 100px;
}

.page-canvas {
  margin-top: 1.5rem;
  height: 85vh;
  box-shadow: 0 0 0 1px black;
  border-radius: 5px;
}

.designer-page-template {
  height: 100%;
  overflow-y: auto;
}

.designer-page-template .row {
  min-height: 200px;
  background: aliceblue;
}

.component-container .row:after, .designer-page-template .row:after {
  content: "Row";
}

.designer-page-template .row:after {
  position: absolute;
  z-index: 0;
}

.designer-page-template .col-sm {
  min-height: 100px;
  background: bisque;
}

.component-container .col-sm:after, .designer-page-template .col-sm:after {
  content: "Column";
}

.designer-page-template .col-sm:after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.designer-element {
  box-shadow: inset 0 0 0 1px blue;
  z-index: 1;
}

.designer-page-template .designer-element>p {
  position: absolute;
}
